.wrap {
    width: 1160px;
    margin: 20px auto;
    .tableControls {
        overflow: hidden;
        margin: 0 auto 20px;
    }
}
.footerWrap {
    position: fixed;
    bottom: 0;
    right: 0;
    background: #fff;
    width: 100%;
    .footerBtn {
        width: 1160px;
        margin: 0 auto;
        height: 56px;
        line-height: 56px;
        text-align: right;
        button {
            margin-right:20px;
        }
    }
}
